%header
  %h1
    %time{:timestamp => @status.date}= l(@status.date, :format => :long)
  = link_to 'Alla', statuses_path

%section#content
  #house
  #disappearance
    - if @status.disappeared_at.nil?
      = button_to "Solen borta", status_disappear_path
    - else
      = "Solen försvann #{l(@status.disappeared_at, :format => :short_time)}."
      = button_to "Uppdatera", status_disappear_path

  = image_tag 'house.png', :alt => 'Huset som är i vägen'
  - (1..3).each do |i|
    %div{:id => "position#{i}_container"}
      = button_to @status.position_string(i), status_survived_path(i), :id => "position#{i}"
